mixin book(title,author,text,id)
    li.lista__book
        span.lista__book--title #{title}
        span.lista__book--text #{text}
        cite.lista__book--author #{author}
        span.lista__book--btn(data-id=id)
        span.lista__book--btnEdit(data-id=id)
